<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

	<!-- Remoteobjekte -->
	<system.runtime.remoting>
		<application>
			<channels>
				<!-- Port anpassen! -->
				<channel ref="tcp" port="27771">
					<clientProviders>
						<formatter ref="binary" />
					</clientProviders>
				</channel>
			</channels>
			<service>
				<wellknown type="DevTestCon.PingService, DevTestCon" objectUri="PingService" mode="Singleton" />
				<wellknown type="DevTestCon.MathService, DevTestCon" objectUri="MathService" mode="Singleton" />
			</service>
		</application>
		<customErrors mode="Off" />
	</system.runtime.remoting>
</configuration>